.childhood-container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.childhood-img img {
    border-radius: 100%;
}

.childhood-sec {
    display: flex;
    justify-content: center;
}
