.our_histories-container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.our_histories-main-container {
    margin-top: 50px;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
}

.our_histories-img img {
    border-radius: 50px;
}

