.intro-container {
    width: 100%;
    max-width: 650px;
    margin: auto;
    text-align: center;
}

.intro-section ul {
    list-style: none;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 5px;
}

.intro-section li {
    margin: 30px 0;
}
